*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('../assets/images/background.jpg');
    font-family: "Ubuntu", sans-serif;
}
.offcanvas-header img{
    width: 100px;
    margin-left: 35%;
    border-radius: 50%;
}